#
# THIS FILE SHOULD NOT BE EDITED
#
#
#
#USB_COMMS	comms		vid 1240, pid $1705
USB_COMMS	comms		vid 0, pid $1705
USB		imac		drives 2
#
SAM		sam		drive 11
#
FW252		fwheel		drive 2
#
TM300		mchromator	use fwheel, use sam
##
